/* ---------------- Global Classes ---------------- */

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #fff;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    padding: 10% 5%;
}

.container:first-child {
    padding: 1% 5%;
}

.space_around{
    justify-content: space-around;
}





/* --------X-------- Global Classes --------X-------- */


.navbar-container{
    width: 20%;
    height: fit-content;
    background-color: blue;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.75rem;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
}
.navbar-container ul li{
    width: 25%; 
    text-align: center;
}
.navbar-container ul li i{
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
