<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <nav>
        <div class="navbar-container">
            <ul class="flex-row space_around">
                <li>
                    <a href="home.html">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li>
                    <a href="main.html">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>About</h1>


    <script src="https://kit.fontawesome.com/2f363fc945.js" crossorigin="anonymous"></script>
</body>
</html>